/**********************************/
/********** Top News CSS **********/
/**********************************/
.top-news {
  position: relative;
  width: 100%;
  padding: 30px 0 0 0;
}

.top-news .col-md-6 {
  margin-bottom: 30px;
}

.top-news .tn-img {
  position: relative;
  overflow: hidden;
}

.top-news .tn-img img {
  width: 100%;
}

.top-news .tn-img:hover img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.top-news .tn-content {
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0; 
  left: 0;
  padding: 15px 10px 15px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
  display: flex;
  align-items: flex-end;
}

.top-news .tn-content a.tn-date{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  transition: .3s;
  letter-spacing: 1px;
}

.top-news .tn-content a.tn-date i {
  margin-right: 5px;
}

.top-news .tn-content a.tn-date:hover {
  text-decoration: underline;
}

.top-news .tn-content a.tn-title {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  transition: .3s;
}

.top-news .tn-left .tn-content a.tn-title {
  font-size: 35px;
  font-weight: 700;
}

.top-news .tn-content a.tn-title:hover {
  color: #E47A2E;
}


/**********************************/
/******* Category News CSS ********/
/**********************************/
.cat-news {
  position: relative;
  width: 100%;
  padding: 0;
}

.cat-news .col-md-6 {
  margin-bottom: 30px;
}

.cat-news h2 {
  color: #353535;
  font-size: 35px;
  font-weight: 700;
  margin-left: 40px;
}

.cat-news h2 i {
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 28px;
}

.cat-news .cn-img {
  position: relative;
  overflow: hidden;
}

.cat-news .cn-img img {
  width: 100%;
}

.cat-news .cn-img:hover img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.cat-news .cn-content {
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0; 
  left: 0;
  padding: 15px 10px 15px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
  display: flex;
  align-items: flex-end;
}

.cat-news .cn-content a.cn-date {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  transition: .3s;
  letter-spacing: 1px;
}

.cat-news .cn-content a.cn-date i {
  margin-right: 5px;
}

.cat-news .cn-content a.cn-date:hover {
  text-decoration: underline;
}

.cat-news .cn-content a.cn-title {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  transition: .3s;
}

.cat-news .cn-content a.cn-title:hover {
  color: #E47A2E;
}

.cat-news .slick-prev,
.cat-news .slick-next {
  top: -35px;
  width: 28px;
  height: 28px;
  z-index: 1;
  transition: .5s;
  color: #ffffff;
  background: #353535;
}

.cat-news .slick-prev {
  left: calc(100% - 85px);
}

.cat-news .slick-next {
  right: 14px;
}

.cat-news .slick-prev:hover,
.cat-news .slick-prev:focus,
.cat-news .slick-next:hover,
.cat-news .slick-next:focus {
  color: #ffffff;
  background: #E47A2E;
}

.cat-news .slick-prev::before,
.cat-news .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
}

.cat-news .slick-prev::before {
  content: "\f104";
}

.cat-news .slick-next::before {
  content: "\f105";
}


/**********************************/
/********** Main News CSS *********/
/**********************************/
.main-news {
  position: relative;
  width: 100%;
  padding: 0;
}

.main-news .col-md-6,
.main-news .col-md-12 {
  margin-bottom: 30px;
}

.main-news h2 {
  color: #353535;
  font-size: 35px;
  font-weight: 700;
  margin-left: 40px;
}

.main-news h2 i {
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 28px;
}

.main-news .mn-img {
  position: relative;
  overflow: hidden;
}

.main-news .mn-img img {
  width: 100%;
}

.main-news .mn-content {
  position: relative;
  width: 100%;
  padding: 15px 0 0 0;
}

.main-news .mn-content a.mn-title {
  display: block;
  width: 100%;
  color: #353535;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 10px;
}

.main-news .mn-content a.mn-title:hover {
  color: #E47A2E;
}

.main-news .mn-content a.mn-date {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  transition: .3s;
  letter-spacing: 1px;
}

.main-news .mn-content a.mn-date i {
  margin-right: 5px;
}

.main-news .mn-content a.mn-date:hover {
  text-decoration: underline;
}

.main-news .mn-content p {
  margin: 0;
}

.main-news .mn-list {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.main-news .mn-list .mn-img {
  position: relative;
  width: 100px;
  margin-right: 15px;
  float: left;
  overflow: hidden;
}

.main-news .mn-list .mn-img img {
  width: 100%;
}

.main-news .mn-list .mn-content {
  position: relative;
  float: left;
  width: calc(100% - 115px);
  padding: 0;
}

.main-news .mn-list .mn-content a.mn-title {
  display: block;
  width: 100%;
  color: #353535;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
}

.main-news .mn-list .mn-content a.mn-title:hover {
  color: #E47A2E;
}

.main-news .mn-list .mn-content a.mn-date {
  display: block;
  width: 100%;
  margin-bottom: 0;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  transition: .3s;
  letter-spacing: 1px;
}

.main-news .mn-list .mn-content a.mn-date i {
  margin-right: 5px;
}

.main-news .mn-list .mn-content a.mn-date:hover {
  text-decoration: underline;
}


/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
  position: relative;
  width: 100%;
}

.sidebar .sidebar-widget {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}

.sidebar .sidebar-widget h2 {
  color: #353535;
  font-size: 35px;
  font-weight: 700;
  margin-left: 40px;
}

.sidebar .sidebar-widget h2 i {
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 28px;
}

.sidebar .sidebar-widget .category {
  position: relative;
}

.sidebar .sidebar-widget .category .fa-ul {
  margin-left: 23px;
}

.sidebar .sidebar-widget .category .fa-ul li {
  margin-bottom: 10px;
}

.sidebar .sidebar-widget .category .fa-ul li i {
  color: #353535;
}

.sidebar .sidebar-widget .category .fa-ul li a {
  color: #353535;
}

.sidebar .sidebar-widget .category .fa-ul li a:hover {
  color: #E47A2E;
}

.sidebar .sidebar-widget .tags {
  position: relative;
}

.sidebar .sidebar-widget .tags a {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
  color: #353535;
  background: #ffffff;
  border: 1px solid #353535;
}

.sidebar .sidebar-widget .tags a:hover {
  color: #ffffff;
  background: #E47A2E;
  border: 1px solid #E47A2E;
}

.sidebar .sidebar-widget .image a {
  display: block;
  width: 100%;
  overflow: hidden;
}

.sidebar .sidebar-widget .image img {
  max-width: 100%;
  transition: .3s;
}

.sidebar .sidebar-widget .image img:hover {
  transform: scale(1.1);
  filter: blur(3px);
  -webkit-filter: blur(3px);
}


/**********************************/
/********* Breadcrumb CSS *********/
/**********************************/
.breadcrumb-wrap {
  position: relative;
  width: 100%;
  background: #ffffff;
}

.breadcrumb-wrap .breadcrumb {
  margin: 25px 0 0 0;
  padding: 0;
  background: none;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #353535;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item.active {
  color: #353535;
}
