html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-s;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
	width: 1100px;
	margin: 0 auto;
	height: 100%;
}

a {
	text-decoration: none;
}

/*****************************/
/*********Header**************/
/*****************************/

.page-header {
	height: 50px;
	width: 100%;
	background: #0c0c0c;
	color: rgb(191, 191, 191);
}

.page-header a {
	color: inherit;
	font-size: 15px;
}

.header-left {
	float: left;
	display: flex;
	height: 100%;
}

.header-right {
	float: right;
	display: flex;
	height: 100%;
	align-items: center;
}

.page-nav ul {
	display: flex;
	height: 100%;
	align-items: center;
	margin-left: 15px;
}

.page-nav ul li {
	margin: 0 0 0 5px;
	text-transform: capitalize;
}

.page-nav ul li::after {
	content: '|';
	margin-left: 5px;
}

.page-nav ul li:last-child::after {
	content: '';
}

.page-nav ul li a:hover {
	color: white;
}

.page-logo {
	position: relative;
	width: 60px;
}
.page-logo img {
	position: absolute;
	width: 100%;
	z-index: 2;
}

.search-switcher-label {
	margin: 0 15px;
}

.page-search {
	position: relative;
}

.page-search-field {
	width: 970px;
	position: absolute;
	right: 40px;
	top: -7px;
	font-size: 16px;
	height: 30px;
	padding: 5px;
	font-weight: 300;
	display: none;
}

#search-switcher:checked~.page-search-field {
	display: block;

}

#search-switcher:checked~.page-search-field-label {
	display: block;
	color: #0c0c0c;
	font-size: 15px;
	font-weight: 400;
}

.page-search-field-label {
	position: absolute;
	right: 40px;
	top: -7px;
	height: 30px;
	background: transparent;
	width: 100px;
	line-height: 30px;
	display: none;
}

.international-edition {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}

.international-edition label:hover {
	cursor: pointer;
	color: white;
}

.international-block {
	background: rgba(0,0,0,.9);
	position: absolute;
	top: 50px;
	padding: 8px 15px 15px;
	width: 250px;
	left: -70px;
	box-sizing: border-box;
	font-weight: 300;
	display: none;
}

#international-switcher:checked~.international-block {
	display: block;
}

.international-block ul {
	text-align: right;
}

#menu-image {
	width: 66px;
}

.entertainment {
	width: 140px;
}

.money {
	width: 80px;
}

.international-block ul li {
	margin-bottom: 20px;
	padding: 0 15px;
}

.international-block ul li:hover {
	color: white;
	cursor: pointer;
}

.international-block hr {
	background: transparent;
	border: 0;
	border-top: 1px solid #bfbfbf;
}

.international-block p {
	text-align: right;
	cursor: default;
}

.flex-block {
	display: flex;
}

.row-block.flex-block {
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 15px;
}

.row-block.flex-block label, .row-block.flex-block label:hover {
	cursor: default;
	color: rgb(191, 191, 191);
}

.row-block.flex-block label:nth-of-type(1) {
	margin-right: auto;
}

.row-block.flex-block input {
	margin-right: 5px;
}

.row-block.flex-block:nth-of-type(2) {
	justify-content: flex-end;
	background: transparent;

}

.confirm {
	background: transparent;
	border: 1px solid #bfbfbf;
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	color: #bfbfbf;
	font-size: 15px;
}

.confirm:hover {
	color: white;
	cursor: pointer;
}

.header-expanded-menu-block {
	width: 100vw;
	background: rgba(0,0,0,.9);
	position: absolute;
	top: 50px;
	right: 0;
	padding-bottom: 25px;
	display: none;
}

#expanded-switcher:checked~.header-expanded-menu-block {
	display: block;
	z-index: 1;
}

.expanded-top-block {
	padding-top: 15px;
}

.expanded-top-block h3 {
	font-size: 22px;
	font-weight: 300;
	color: white;
	margin-bottom: 15px;
	margin-top: 10px;
}

.expanded-top-block a {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
}

.expanded-top-block a:hover {
	color: white;
	cursor: pointer;
}

.expanded-top-block .col-2 {
	padding-right: 0;
	padding-left: 0;
}

.expanded-bottom-block .international-block {
	display: block;
	position: static;
	display: flex;
	align-items: center;
	width: 80%;
	justify-content: flex-start;
	background: transparent;
	padding-left: 0;
}

.expanded-bottom-block .international-block ul {
	display: flex;
	align-items: center;
}

.expanded-bottom-block .international-block hr {
	display: none;
}

.expanded-bottom-block .international-block ul li {
	margin-bottom: 0;
	display: flex; 
	align-items: center;
	justify-content: space-between;
}

.expanded-bottom-block .international-block ul li:first-child {
	padding-left: 0;
}

.expanded-bottom-block .international-block img {
	height: 30px;
	margin-right: 5px;
}

.expanded-bottom-block .international-block p {
	font-size: 13px;
	margin-right: 15px;
	margin: 0 15px 0 30px;
}

.expanded-bottom-block .international-block label {
	font-size: 13px;
	margin-right: 15px;

}

.expanded-bottom-block .row-block.flex-block label:nth-of-type(1) {
	margin-right: 15px;
}

.expanded-bottom-block .international-block input {
	font-size: 10px;
}

.expanded-bottom-block .international-block .flex-block {
	align-items: center;
}

/*****************************/
/*********Main**************/
/*****************************/

main a:hover {
	color: #c00;
}

article {
	margin-top: 40px;
}

.main-article {
	margin-top: 40px;
}

main a {
	font-size: 15px;
	color: rgb(38, 38, 38);
	font-weight: 300;
	line-height: 1.3333333333;
}

.main-article h1 {
	font-size: 55px;
	text-align: center;
	margin-bottom: 10px;
}

.image-main {
	position: relative;
}

.main-article  img {
	width: 100%;
	max-height: 300px;
}

#hero-image {
	width: 100%;
	/* height: 300px; */
}

.image-main .image-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #c00;
	color: white;
	padding: 12px 10px;
	font-weight: 700;
	line-height: 1.3333333333;
	font-size: 12px;
}

#hero-title {
	font-size: 16px;
    line-height: 20px;
    color: rgb(38, 38, 38);
	margin: 7px 0;
	font-weight: 700;
}

article p {
	font-size: 15px;
	color: rgb(38, 38, 38);
	font-weight: 300;
	line-height: 1.3333333333;
}

article hr {
	border: none;
	border-top: 1px solid #d9d9d9;
}

.image-medium {
	width: 100%;
	height: 250px;
	background-size: cover;
}

.title-overlap {
    background: #e6e6e6;
    padding: 10px 10px 15px;
    margin: -23px 30px 0;
    position: relative;
	text-align: center;
}

.title-overlap:nth-of-type(1) {
	margin-bottom: 30px;
}

.title-overlap a {
	font-size: 21px;
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
}

.image-title {
    color: #404040;
    font-weight: bold;
    padding: 7px;
    background: #f2f2f2;
}

.article-image>img {
	width: 100%;
	max-height: 200px;
}

article h3	{
    font-size: 20px;
    line-height: 20px;
    color: rgb(38, 38, 38);
	margin: 7px 0;	
	font-weight: 300;
}

.banner {
	font-size: 30px;
	font-weight: 300;
}

.media-object {
	display: flex;
	width: 100%;
}

.media-object-small {
	display: flex;
	width: 100%;
	height: 50px;
}

.media-object .object-image {
	/* display: flex; */
	width: 100%;
	flex: 1;
}

.media-object-small .object-image-small {
	/* display: flex; */
	width: 100%;
	flex: 1;
}

.media-object .object-image img {
	width: 100%;
}

.media-object-small .object-image-small img {
	width: 100%;
	height: 100%;
}

.media-object .object-content {
	flex: 2;
	padding: 10px 0 0 20px; 
}

.media-object-small .object-content-small {
	flex: 2;
	padding: 5px 0 0 10px; 
}

.media-object .object-content p {
	color: rgb(38, 38, 38);
	font-size: 20px;
}

.media-object-small .object-content-small p {
	color: rgb(38, 38, 38);
	font-size: 15px;
	font-weight: 300;
}

article .row img {
	width: 100%;
}

.thumbnail-content {
	padding: 10px 0 0 10px;
	color: rgb(38, 38, 38);
    font-size: 20px;
    font-weight: 300;
}

#overlay-banner {
	position: relative;
}

#overlay-content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0.8;
}

.bold {
	font-weight: bold;
}

.border-top {
	border-top: 1px solid #d9d9d9;
}

/* .featured {
	margin: 20px 0;
} */

.header-divider {
	font-size: 24px;
    font-weight: 300;
    display: flex;
    align-items: center;
	white-space: nowrap;
	margin-bottom: 15px;
}

.header-divider::after {
	content: '.';
    font-size: 0;
    height: 1px;
    border-top: 4px solid #d9d9d9;
    border-bottom: 4px solid #d9d9d9;
    width: 100%;
    margin-left: 5px;
}

.videos {
	padding: 7px;
	line-height: 2.0;
	margin-top: 20px;
}

.videos-button {
	float: right;
    height: 100%;
    width: 40px;
    font-size: 20px;
    border: none;
    /* background-color: #e6e6e6; */
    display: flex;
    padding: 7px;
    cursor: pointer;
}

.exclusive-content {
	background-color: #1a1a1a;
	margin-top: 40px;
}

.exclusive-content h3 {
	color: white;
}

.exclusive-content .header-divider {
	color: white;
}

.exclusive-content .header-divider::after {
	border-bottom: 4px solid #c00;
	border-top: 4px solid #c00;
}

.exclusive-content .exclusive-thumbnail {
	max-height: 200px;
}

#main-exclusive-image {
	height: 100%;
	max-height: none;
}

.exclusive-content .image-caption {
	position: absolute;
	bottom: 53px;
	font-size: 15px;
    color: red;
    font-weight: 300;
    line-height: 1.3333333333;
    background-color: white;
	padding: 10px;
	font-weight: 700;
}

.exclusive-content #overlay-content {
	background-color: rgba(38,38,38,.85);
	color: white;;
}

.exclusive-content {
	padding-bottom: 40px;
}



/*****************************/
/*********Footer**************/
/*****************************/


.page-footer {
	/*display: none;*/
	background: #0c0c0c;
	/* margin-top: 300px; */
}

.page-footer a {
	color: #bfbfbf;
}

.footer-top-block {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
}

.footer-top-block .footer-weather {
	display: flex;
	align-items: center;
}

.footer-top-block .footer-weather img {
	margin: 0 10px;
	height: 38px;
}

.footer-top-block p {
	color: white;
	font-size: 15px;
}

.footer-top-block .footer-search {
	width: 320px;
	background-color: #262626;
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	padding: 6px 45px 6px 12px;
	height: 35px;
	border: 0;
	color: #bfbfbf;
	outline: none;
}

.search-block {
	background-color: #262626;
}

.search-block button {
	height: 30px;
	background-color: #262626;
	line-height: 30px;
	color: #a6a6a6;
	border: none;
	margin: 0;
    padding: 0 10px;	
    cursor: pointer;
}

.page-footer .international-edition {
	color: white;
	width: 100%;
	display: block;
	padding-top: 40px;
	color: #a6a6a6;
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    display: inline-flex;
}

.page-footer .international-edition label {
	margin-left: 10px;
}

.page-footer .international-edition p, 
.page-footer .international-edition .international-block ul {
	text-align: left;
}

.page-footer .row-block.flex-block:nth-of-type(2) {
	justify-content: flex-start;
}

#international-switcher-footer:checked~.international-block {
	display: block;
	top: -200px;
	left: 0;
	text-align: left;
}

.page-footer .international-edition img {
	width: 30px;
}

.page-footer .international-block ul li:last-child {
	margin-bottom: 0;
}


.footer-end {
	margin-top: 25px;
	text-align: right;
	color: rgb(89, 89, 89);
	font-size: 12px;
	padding-bottom: 40px;
}

.footer-end p {
	margin-bottom: 10px;
}

.footer-end ul {
	display: flex;
	justify-content: flex-end;
}

.footer-end ul li {
	display: flex;
	border-right: 1px solid rgb(140, 140, 140);
	padding: 0 10px 0 10px; 
}

.footer-end ul li:last-child {
	border: none;
	padding-right: 0;
}

.footer-end ul li a {
	color: rgb(89, 89, 89);
}

/*https://vertex-academy.com/en/cnn-clone/?refresh=1*/
